.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  height:100%;
  text-align: center;
}

.topbar {
  display: flex;
  align-items: stretch;
  background-color: saddlebrown;
  
  text-align: center;
  vertical-align:middle;
  padding:5px;
  line-height: 30px;
  color:white;
  font-size: 15px;
}
.topbar img{
  border-radius: 50%;
  display: inline;
  text-align: center;
  width:30px;
  margin:0 3px
}
.top-cont{
  cursor: pointer;
}

.top-cont:hover{
  opacity: 0.8;
}

.flex-container > div {

  color: black;
  height: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  align-content: center;
}


.user-element{
text-align: center;
font-size: 20px;
line-height: 20px;
margin-top:10px;
padding:5px;
cursor: pointer;
}

.user-element:hover{
opacity: 0.8;

}
.selected-element{
  background-color:violet
}
.user-element img{
  border-radius: 50%;
  display: inline;
  text-align: center;
  border: 2px seashell solid;
  width:60px; 
}

#sp-element img{
  border: 0;
  border-radius: 0;
}

.teacher-logo{
  position:absolute;
  left:60px;
  bottom:10px;
  height:15px;
  width:15px;
  border-radius:50%;
  background-color:yellow;

}

.control-button{
  display:inline;
  cursor: pointer
}

.control-button:hover{
  opacity: 0.8;
}