<div class="flex-container">
  <div style="width:120px;background-color:blueviolet;text-align:center;overflow-y:auto;overflow-x:hidden">
    <div class="topbar" (click)="goToMyProfile()">
      <div class="top-cont">
        <img [src]="currentUser.avatar" /> {{currentUser.showname}}
      </div>

    </div>
    <div class="user-element" id="sp-element" [class.selected-element]="selected=='main'" (click)="setSelectedTab('main')">
      <div class="img-con">
        <img src="https://cdn.onlinewebfonts.com/svg/img_570431.png" />
      </div>
      MAIN
    </div>

    <div class="user-element" id="sp-element" [class.selected-element]="selected=='history'" (click)="setSelectedTab('history');getOldBoards()">
      <div class="img-con">
        <img src="https://cdn.onlinewebfonts.com/svg/img_253060.png" />
      </div>
      HISOTRY
    </div>


    <div *ngIf="currentUser.type==1" class="user-element" id="sp-element" [class.selected-element]="selected=='notes'" (click)="setSelectedTab('notes')">
      <div class="img-con">
        <img src="https://www.shareicon.net/data/512x512/2016/08/07/808087_write_512x512.png" />
      </div>
      MY NOTES
    </div>

    <div style="margin-top:30px;" *ngIf="currentUser.type==0&&users?.length>1">

      <div *ngFor="let user of users">
        <div *ngIf="user.id!=currentUser.id" class="user-element" [class.selected-element]="user.id==selected&&user.type==1" (click)="user.type==1&&setSelectedTab(user.id)">
          <div class="img-con" style="position:relative">
            <img [src]="user.avatar" />
            <div *ngIf="user.type==0" class="teacher-logo"></div>

          </div>
          {{user.showname}}
        </div>
      </div>
    </div>



  </div>
  <div *ngIf="roomInfo" style="min-width:500px;flex-grow: 12;text-align:center;">{{roomInfo.name}}


    <div *ngIf="selected=='history'&&oldBoards?.length>0" style="padding-top:75px;text-align:center">
      <div class="control-button" (click)="carousel.left()">
        <i class="large material-icons">chevron_left</i>
      </div>
      
      <ngx-slideshow #carousel  style="display:inline;"  [cards]="1" [cardSize]="'500px'">
        
        <li *ngFor="let img of oldBoards" style="border:1px solid #000000;"><img [src]="img.img"></li>
        
      </ngx-slideshow>

      <div class="control-button" (click)="carousel.right()">
        <i class="large material-icons">chevron_right</i>
      </div>
    </div>


    <app-white-board [hidden]="!(id&&socketInitialized&&selected=='main'&&currentUser.type==1)" [state]="(id&&socketInitialized&&selected=='main'&&currentUser.type==1)" [roomID]="id" [userID]="-1" [ctrl]="false"></app-white-board>
    <app-white-board [hidden]="!(id&&socketInitialized&&selected=='main'&&currentUser.type==0)" [state]="(id&&socketInitialized&&selected=='main'&&currentUser.type==0)" [roomID]="id" [userID]="-1" [ctrl]="true"></app-white-board>

    <app-white-board [hidden]="!(id&&socketInitialized&&selected=='notes')" [state]="(id&&socketInitialized&&selected=='notes')" [roomID]="id" [userID]="currentUser.id" [ctrl]="true"></app-white-board>
    <div *ngFor="let user of users">
      <app-white-board [hidden]="!(id&&socketInitialized&&user.id==selected)" [state]="(id&&socketInitialized&&user.id==selected)" [roomID]="id" [userID]="user.id" [ctrl]="false"></app-white-board>
    </div>


  </div>
  <div style="flex-grow: 1;background-color:green">
    CHAT
    <app-chat *ngIf="id&&socketInitialized" [roomID]="id"></app-chat>
  </div>
</div>