<div style="text-align:center">



  <div *ngIf="ctrl==1" class="tab" [class.active]="writeMode">
    <input type="submit" class="btn" id="writeBtn" style='opacity:0;height:50px;position:absolute;' value="write" (click)="writeBoard()">
    <i class=" Meduim material-icons">create</i>
  </div>
  <div *ngIf="ctrl==1" class="tab" [class.active]="drawMode">
    <input type="submit" class="btn" style='opacity:0;height:50px;position:absolute;' value="draw" (click)="drawBoard()">
    <i class=" Meduim material-icons">brush</i>
  </div>
  <div *ngIf="ctrl==1" class="tab">
    <input type="color" style='opacity:0;height:50px;position:absolute;' class="btn" value="color" (change)="chooseColor($event)"
    />
    <i class=" Meduim material-icons">color_lens</i>
  </div>

  <div *ngIf="ctrl==1" class="tab" [class.active]="eraseMode">
    <input type="submit" class="btn" style='opacity:0;height:50px;position:absolute;' value="erase" (click)="erase()">
    <i class=" Meduim material-icons">filter_none</i>
  </div>
  <div *ngIf="ctrl==1" class="tab">
    <input type="submit" class="btn" style='opacity:0;height:50px;position:absolute;' value="clear" (click)="clear()">
    <i class=" Meduim material-icons">clear</i>
  </div>

  <div class="tab">
    <input type="submit" class="btn" style='opacity:0;height:50px;position:absolute;' value="save" (click)="save()">
    <i class=" Meduim material-icons">save</i>
  </div>
  <div class="modified-tab">
    
  </div>

</div>
<div id='WB'>
  <canvas [id]="identifier"  #canvasEl style="border:1px solid #000000;">
    Your browser does not support HTML5 Canvas.
  </canvas>


</div>
<a id="download" href=""></a>