.tab{
    position:relative;
    display:inline;
    background-color: white;
    color:black;
    text-align:center;
    padding-left: 10px;
    border-radius: 50%;
}

.modified-tab{
    position:relative;
    display:inline;
    text-align:center;
    padding-left: 10px;
    border-radius: 50%;
}
.active{

    background-color: black;
    color:white;
}