/*
		-- green color: 0be991
		-- blue color : 30394a
*/

html,body{
  background: #0be991 !important;
  overflow: auto;
}

p {
  color: #ffffff
}

#backgroundPattern {
  top: 20px;
  left: 20px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
