

<body >

<!-- background grid (small dots in white) -->
<svg id="backgroundPattern" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="grid" width="40" height="40" patternUnits="userSpaceOnUse">
      <circle cx="10" cy="10" r="1" stroke="none" fill="#ffffff" />
    </pattern>
  </defs>
  <rect width="100%" height="100%" fill="url(#grid)" />
</svg>
<!-- ======================================-->

<!-- add other elements here -->
<!-- I think i should add here the bootstrap classes selectors to
     arrange the injected components into grid columns -->
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <!-- profile card: image and name -->
      <app-profile-data-viewer></app-profile-data-viewer>
    </div>

    <div class="col-md-7">
      <!-- profile card: image and name -->
      <app-profile-room-list></app-profile-room-list>
    </div>

  </div>




  <!-- join room button and input text-->
  <app-profile-join-room></app-profile-join-room>

</div>


</body>
