/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: OpenSans-Regular;
  src: local('OpenSans-Regular'),
			 url('assets/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans-Bold;
  src: local('OpenSans-Bold'),
			 url('assets/Open_Sans/OpenSans-Bold.ttf');
}
