<div class="chatbox">
  <div #scrollMe class="chatlogs" id="logs"> 


    <div *ngFor="let message of messages" >
      <div *ngIf="me==message.userid; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="chat self">
              <div class="user-photo"><img [attr.src]="message.avatar"/></div>
              <p class="chat-message">{{message.message}}</p>	
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="chat friend">
              <div class="user-photo"><img [attr.src]="message.avatar"/></div>
              <p class="chat-message">{{message.message}}</p>	
          </div>
          </ng-template>
      
    
    </div>
  
   
  </div>
  <div class="chat-form">
      <textarea #box (keyup.enter)="sendmessage(box.value)" id="input"></textarea>
    <button (click)="sendmessage(box.value)">Send</button>
  </div>
</div>
