

/*
		-- green color: 0be991
		-- blue color : 30394a
*/

.bottom-right{
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.button {
    background-color: #30394a; /* Blue */
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 6px;
}

.button1 {
    background-color: white;
    color: #30394a;
    border: 2px solid #30394a;
}

.button1:hover {
    background-color: #30394a;
    color: white;
}

input[type=text] {
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    border-radius: 6px;
    width: 380px;
}

input[type=text]:focus {
    border: 2px solid #30394a;
}
