

<div *ngIf="currentUser.type==0" class="bottom-right">

    <a href="#"  class="button button1" data-toggle="modal" data-target="#basicModal">New Room</a>

</div>

<div *ngIf="currentUser.type==0" class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create new room</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <input required class="form-control" type="text" [(ngModel)] = "name" placeholder="Enter room name" id="example-text-input">

        <span *ngIf="errorMsg" class="login100-form-title" style="font-size15px;color:red;">
						{{errorMsg}}
						<br />
					</span>

      </div>
      <div class="modal-footer">
        <button #modalClose type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button  type="button" class="btn btn-primary" (click)="createRoom()" [disabled]="!name">create</button>
      </div>
    </div>
  </div>
</div>
