<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="tab" style="position:absolute; top:700px; left:0px; z-index:1">
  <i class=" Meduim material-icons">create</i>
</div>
<div class="tab2" style="position:absolute; top:720px; left:0px; z-index:1">
  <i class=" Meduim material-icons">brush</i>
</div>  
<div class="tab3" style="position:absolute; top:745px; left:0px; z-index:1">
  <i class=" Meduim material-icons">color_lens</i>
</div>
<div class="tab4" style="position:absolute; top:770px; left:0px; z-index:1">  
  <i class=" Meduim material-icons">filter_none</i>
</div> 
<div id='note' style="position:absolute; top:700px; left:0px; z-index:1">  
  <canvas id='canvas2' width='300' height='200'style="border:1px solid #000000;">
        Your browser does not support HTML5 Canvas.
  </canvas>
</div>