


<div id="wrapper">
<div id="listContainer" >
  <nav (scroll)="scrollFunc()" >
    <ul id="parentOfListItems">
      <br><br><br><br><br>
      <br><br><br><br>

      <li *ngFor="let t of arr" (click)="navToRoom(t.room_id)">
        <div class="card">
          <div class="container"> <!-- noteID , name : should get the room thumbnail link here instead of noteId-->
            <h4><b>{{t.name}}</b></h4>
            <br>
            <p>thumbnail of room canvas should be here</p>
          </div>
        </div>
      </li>

      <br><br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br><br>
      <br><br><br>
    </ul>
  </nav>
</div>

<div class="gradientback"></div>
</div>
