
nav {
  /*
    sets the list itself to certain height, as to have scrolling
    and have overflow of y = scroll

    height 100vh is different from 100%, different results
    100vh doesn't spread the nav over the window
  */
  height:100vh;
  overflow-y:scroll;
  scroll-behavior: smooth;
}

#listContainer{
  /*
    this is the list container that contains the list items
    it's width is set to more than 100% as have it's scrollbar
    outside ot the 100% range of it's parent. and by setting it's
    parent/wrapper overflow to hide, so we have hidden the scroll bar
  */
  width: calc(100% + 15px);
}

.card {
  /*
    card properties
    width is set to below 100% as the 100% is not visible because
    of the wrapper trick
  */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 92%;
    border-radius: 16px;
    background-color: white;
    margin: 20px;
    opacity: 0.9;
    min-height: 90px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
    opacity: 1.0;
}
.container {
    padding: 20px 16px;
}


#wrapper{
  /*
    the trick to hide the scrollbar is to have this wrapper div
    to be parent of the desired scrollbar-to-hide div
    set the width to less than the 100% (and the child width to more than 100%)
    and set overflow to hidden
  */
  width: calc(100% - 100px);
  overflow: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}
