
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>




<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form class="login100-form validate-form" novalidate [formGroup]="loginForm">
					<span class="login100-form-title p-b-43">
						Online collaborative board
					</span>

					<span *ngIf="errorMsg" class="login100-form-title" style="font-size:20px;color:red">
						{{errorMsg}}
						<br />
					</span>

					<div class="wrap-input100 rs1 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" formControlName="username">
						<span class="label-input100" [style.color]="username.errors ? 'red' : null">Username</span>
					</div>


					<div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" formControlName="password">
						<span class="label-input100" [style.color]="password.errors ? 'red' : null">Password</span>
					</div>

					<div class="container-login100-form-btn">
						<button (click)="login()" [disabled]="!loginForm.valid" class="login100-form-btn">
							Sign in
						</button>
					</div>

				
				</form>
			</div>
		</div>
	</div>

</body>

	</html>
