

<!--

<p style="width: 100%; background: black; color: white;">
  use this to detect available space
</p>

-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>
<div class="card">
  <div *ngIf="userData">
  <img [src]="userData.avatar"  style="width:100%">
  <h1>{{userData.showname}}</h1>
  <p class="title">{{userData.type ==0 ? "Teacher":"Student"}}</p>
  <br />
 <p><button (click)="logout()">LOGOUT</button></p>
 </div>
</div>
